/node_modules
/dist
/build
/out
npm-debug.log
yarn-error.log
.pnpm-debug.log
lerna-debug.log
*.log
.env
.env.local
.vercel/
.next/
/public/build
/functions
*.tsbuildinfo
*.js.map
/dist
.vscode
.idea
.DS_Store
Thumbs.db